body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: rgb(230, 230, 230);
  margin: 0;
  padding: 0;
  color: rgb(8, 8, 8);/* Darker text color and lighter background color for better contrast */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
  color: rgb(24, 24, 24);
}

.container {
  max-width: 1080px;
  margin: 2rem auto;
  padding: 0 1rem;
}
/* Add skip links */
.skip-links{
  list-style: none;
  position: absolute;
  top: -4rem;
  color: rgb(12, 12, 12);
}
.skip-links a:focus{
  top: 0;
}
h1{
  font-weight: bold;
  font-size: 3rem;
}
h2{
  font-weight: bold;
  font-size: 2rem;
}
img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
  
}

.main-nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem;
  color: rgb(238, 246, 253);
  background-color: rgb(12, 12, 12);
}
/*add focus and hover for contrast */
.main-nav ul li a:focus{
  outline: 4px solid red;
}
.main-nav ul li a:hover{
  background-color: blue;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: rgb(12, 12, 12);
  color: aliceblue;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
}
/* add focus and hover for contrast */
form button:focus{
  outline: 4px solid red;
}
form button:hover{
  background-color: blue;
}
.site-footer {
  padding: 2rem 0;
}
